.customField {
  width: 50%;
  height: 3.5rem;
  margin-top: 2%;
  background: #f0f0f0;
  border-radius: 10px;
  padding-left: 1%;
  .input {
    height: 90%;

    width: 100%;
    display: flex;
    align-items: center;
    & > img {
      width: 20px;
      height: 20px;
    }
    input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      font-size: 22px;
    }
  }
}
