.customField {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 3.5rem;
  margin-top: 2%;
  background: #f0f0f0;
  border-radius: 10px;
  padding-left: 1%;
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 90%;

    width: 100%;

    input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      font-size: 22px;
    }
  }
}
