@import "../../Styles/style.scss";

.chatHeader {
  height: 3.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: 0 0 1% 0;
  background-color: white;
  .headerContent {
    width: 100%;
    justify-content: flex-end;

    .iconParent {
      width: 1em;
      height: 1em;
      padding: 0.2em;
      border-radius: 100%;
      margin: 0 0.5rem;
      background-color: #f5f4f4;
      cursor: pointer;
    }
  }
}
