.cancelButton {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 10px;
  right: 20px;
  cursor: pointer;

  .spanOne {
    transition: 0.2s;
    position: absolute;
    transform: translateY(-3px);

    width: 20px;
    height: 3px;
    background: #21b6a8;
    border-radius: 4px;
  }
  .spanTwo {
    @extend .spanOne;
    transition: 0.5s;

    transform: translateY(3px);
  }
}

.cancelButton:hover {
  .spanOne {
    transform: translateY(0) rotate(45deg);
  }
  .spanTwo {
    transform: translateY(0) rotate(310deg);
  }
}
