@import "../../Styles/style.scss";

.chatReply {
  width: 100%;
  background: white;
  .chat {
    flex: 3;
    position: relative;
    background: white;
    transition: 0.5s;
    .chat__Header {
      justify-content: center;
      height: 5.2rem;
    }
    .chatSection {
      align-items: center;
      justify-content: center;
      position: relative;
      .chatStart {
        height: 82vh;
        word-wrap: break-word;
        line-break: anywhere;
        width: 100%;
        overflow-y: scroll;
        .messageSpan {
          width: 100%;
        }
        .scrolled {
          animation: background-fade 3.5s 1;
        }
        @keyframes background-fade {
          0% {
            background: #21b6a8;
          }

          100% {
            background: unset;
            transition: 0.5s;
          }
        }
      }
      .replyContainer {
        background: #d4d4d4;
        width: 98%;
        position: absolute;
        bottom: 7%;
        height: 3rem;
      }
    }

    .chatInput {
      width: 100%;
    }
  }
  ::-webkit-scrollbar {
    width: 0.35em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;

    border-radius: 10px;
  }
}
