@import "../../Styles/style.scss";

.chat {
  flex: 3;
  background: #dad7d7;
  position: relative;
  transition: 0.5s;
  height: 100vh;
  .chatSection {
    flex: 1;
    overflow-y: hidden;
    margin-bottom: 3rem;
    .chatStart {
      line-break: anywhere;
      width: 100%;
      overflow-y: scroll;
      .scrolled {
        animation: background-fade 3.5s 1;
      }
      @keyframes background-fade {
        0% {
          background: #21b6a8;
        }

        100% {
          background: unset;
          transition: 0.5s;
        }
      }
    }
  }

  .replyContainer {
    background: #fff0f0;
    width: 98%;
    position: absolute;
    bottom: 6%;
    left: 1%;
    height: 3rem;
    line-break: anywhere;
  }
  .chatInput {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
::-webkit-scrollbar {
  width: 0.35em;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;

  border-radius: 10px;
}
